* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}




.container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
    height: 300px;
}



h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #333;
}

.todo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.todo-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#todo-input {
    padding: 0.5rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    width: 100%;
}

#add-task {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    background-color: #28a745;
    color: white;
}

#add-task:hover {
    background-color: #218838;
}

#todo-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#todo-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    background-color: #f9f9f9;
    border-radius: 5px;
}

#todo-list li.completed span {
    text-decoration: line-through;
    color: gray;
}

#todo-list li button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.2s;
    padding: 0.5rem 1rem;
}

#todo-list li button:hover {
    background-color: #c82333;
}